name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  update-registry:
    runs-on: ubuntu-latest
    needs: changes
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - name: Declare some variables
        id: vars
        shell: bash
        run: |
          echo "setting variables"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - uses: elgohr/Publish-Docker-Github-Action@master
        with:
          username: tattletech
          password: ${{ secrets.DOCKER_PASSWORD }}
          name: tattletech/archive-telegram-bot
          tags: ${{ steps.vars.outputs.sha_short }}

      - name: Deploy to k8s
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.K8S_HOST_PROD }}
          username: ${{ secrets.K8S_USERNAME }}
          key: ${{ secrets.K8S_KEY }}
          script: |
            ./autodeploy_tgm_rest.sh ${{ steps.vars.outputs.sha_short }} >> ~/deploy.log 2>&1

      - name: Notify on Slack
        uses: rtCamp/action-slack-notify@v2.0.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: "Published New TelegramBot Docker Image"
          SLACK_TITLE: "Published New TelegramBot Docker Image"
          SLACK_COLOR: "#020637"
          SLACK_ICON: https://tattle-media.s3.amazonaws.com/monogram-dark.svg
